body {
  font-family: 'Mali', cursive;
  margin: 0;
  color: #333333;
}

/* Common */
* {
  box-sizing: border-box;
}
#wrapper {
  background-color: #fafafa;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}
section.section-box {
  padding: 80px 0 40px;
}
.section-title {
  text-align: center;
  font-size: 26px;
  line-height: 2em;
  margin: 0;
}
.title-underline {
  width: 80px;
  height: 3px;
  background-color: #c00a27;
  display: block;
  margin: 6px auto;
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #c00a27;
  padding: 16px 0;
  z-index: 2;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: white;
  margin: 0;
  padding: 0 12px;
  font-size: 32px;
  line-height: 1.4em;
  display: inline-block;
}
header .nav-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 0.8em;
  font-weight: 600;
}
#shopping-card {
  position: relative;
  color: #ffff3c;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  order: 1;
  cursor: pointer;
}
#shopping-card > #shopping-count {
  position: absolute;
  top: -0.2em;
  right: -0.2em;
  font-size: 0.65em;
  line-height: 1em;
  font-weight: 600;
  border-radius: 50%;
  width: 1.4em;
  min-height: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff3c;
  color: rgba(51, 51, 51, 0.8);
}

/* Cover slika */
#cover {
  position: relative;
  background-color: #c00a27;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 40vh;
  display: flex;
  align-items: center;
}
#cover img {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  display: block;
}
#cover #cover-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cover-text h1 {
  font-size: 54px;
  line-height: 1.4em;
  text-transform: uppercase;
  margin: 8px 0;
  color: white;
}
#cover-text small {
  font-size: 28px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  margin-bottom: 16px;
}
#cover-text a.action-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #78bb1b;
  color: white;
  padding: 12px 36px;
  border-radius: 23px;
}
#bg-gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

/* Akcije */
#akcije {
  display: flex;
  flex-direction: column;
}
#pizzas-holder {
  display: flex;
  text-align: center;
  padding: 2.5em 2em;
  overflow-x: auto;
  white-space: nowrap;
}
article.pizza-card {
  display: inline-block;
  width: 300px;
  min-width: 300px;
  margin: 0 4px;
  padding: 20px 16px;
  border-radius: 4px;
  white-space: normal;
  transition: all 0.3s ease;
}
article.pizza-card:hover {
  background-color: white;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2);
}
.pizza-image {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.pizza-name {
  font-size: 20px;
}
.pizza-description {
  font-size: 14px;
  color: #777;
}
.pizza-price {
  font-size: 80%;
}
.pizza-price > em {
  font-size: 20px;
  padding-left: 4px;
}
.pizza-button {
  display: block;
  margin: 12px auto;
  padding: 8px 0px;
  font-family: 'Mali', cursive;
  font-size: 16px;
  border: 2px solid transparent;
  background-color: #c00a27;
  color: white;
  outline: none;
  border-radius: 22px;
  width: 150px;
  cursor: pointer;
}

/* Cjenik */
#cjenik {
  background: url('../slike/pizza-price-bg.png') center center no-repeat;
  background-size: cover;
  color: white;
}
table {
  max-width: 600px;
  margin: 40px auto;
}
table,
tbody,
tr {
  display: grid;
  text-align: center;
}
tr.table-header-row,
tr.table-body-row {
  grid-template-columns: 40% 30% 30%;
}
tr.table-body-row {
  grid-template-rows: auto auto auto;
}
td.table-pizza-name {
  grid-row-start: 1;
  grid-row-end: span 3;
  align-self: center;
  font-size: 18px;
}
tr {
  padding: 6px 12px;
  border-bottom: 1px solid #ccc;
}
thead tr {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Kontakt forma */
form {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 600;
}
label::before {
  content: '*';
  color: #c00a27;
  padding-right: 4px;
}
input,
textarea {
  padding: 8px 14px;
  margin: 4px 0 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Mali', cursive;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 40px;
}

/* Footer */
footer {
  background-color: #2c2c2c;
  padding: 40px 0 10px;
  color: white;
}
#footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#social-media-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
.social-media-links {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid #999;
  border-radius: 50%;
  color: #999;
  font-size: 24px;
  transition: all 0.5s ease;
}
.social-media-links:hover {
  background-color: #fff;
  color: #c00a27;
}
footer h4 {
  font-size: 32px;
  transform: rotate(-10deg);
}
#copyright {
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
#copyright strong {
  line-height: 2em;
  font-size: 16px;
}

/* Shopping Side Menu */
#shopping-side-menu {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  height: calc(100vh - 60px);
  width: 0;
  background-color: #f5f5f5;
  z-index: 3;
  padding: 0.5em 0.8em;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#shopping-side-menu.active {
  width: 100vw;
  opacity: 1;
  visibility: visible;
}
#shopping-side-menu .shopping-item {
  position: relative;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin: 0.4em 0;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}
.shopping-item > .close {
  position: absolute;
  right: 1em;
  top: 0.8em;
  opacity: 0.8;
  cursor: pointer;
}
.shopping-item > .description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em 0;
}
.shopping-item > .description small {
  opacity: 0.5;
  font-size: 0.8em;
}
.shopping-item > .description p {
  opacity: 0.7;
  margin: 0.2em 0;
  font-weight: 600;
}
.shopping-item > .description > .cijena > p::after {
  content: 'kn';
  padding-left: 0.3em;
  font-weight: 500;
}
.shopping-item h3 {
  margin: 0.2em 0;
}
.shopping-item .amount-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  margin: 0.2em 0;
}
.shopping-item .amount-box > button {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-item .amount-box button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Side Menu Action */
#side-menu-action {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
#side-menu-action .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-size: 1.2em;
}
#side-menu-action .total-price > em {
  font-weight: 600;
}
#side-menu-action .total-price > em::after {
  content: 'kn';
  padding-left: 0.3em;
  font-weight: 500;
}
#side-menu-action button {
  display: block;
  margin: 12px auto;
  padding: 8px 0px;
  font-family: 'Mali', cursive;
  font-size: 16px;
  border: 2px solid transparent;
  background-color: #78bb1b;
  color: white;
  outline: none;
  border-radius: 22px;
  width: 150px;
  cursor: pointer;
}

/* Media queries - Mobile */
@media only screen and (max-width: 768px) {
  /* Header */
  header h2 {
    font-size: 28px;
  }
  nav .nav-links {
    font-size: 0.9em;
  }

  /* Cover slika */
  #cover-text h1 {
    font-size: 6vw; /* --> objasniti šta znači View Width */
  }
  #cover-text small {
    font-size: 4vw;
  }
  #cover-text .action-button {
    font-size: 14px;
    padding: 8px 28px;
  }

  /* Akcije */
  section.section-box {
    padding-top: 90px;
  }
  .pizza-image {
    max-width: 150px;
  }
  #pizzas-holder {
    flex-wrap: wrap;
    padding: 2.5em 0.5em;
    justify-content: center;
  }

  /* Cjenik */
  th {
    font-size: 15px;
    letter-spacing: 0px;
  }
}

/* Media queries - Portrait Mobile */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  header {
    padding: 8px 0;
  }
  .flex-container {
    flex-wrap: wrap;
  }
  #shopping-card {
    order: 0;
  }
  nav {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    padding: 0.3em 0;
  }
}

/* Media queries - Landscape Mobile */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  #shopping-side-menu {
    top: 76px;
  }
}

/* Media queries - Everything but Mobile */
@media only screen and (min-width: 768px) {
  nav {
    margin-left: auto;
    margin-right: 1em;
  }
  #pizzas-holder {
    margin: 0 2.5em;
    max-width: 100%;
  }
  #shopping-side-menu {
    top: 76px;
    border-left: 1px solid #ccc;
  }
  #shopping-side-menu.active {
    width: 30vw;
  }
}

/* Media queries - Fixing Horizontal Scroll on Pizzas */
@media only screen and (min-width: 1024px) {
  #pizzas-holder {
    margin: 0 2.5em;
    align-self: center;
    max-width: calc(1024px - 5em);
  }
}
